.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
    text-align: right;
}

.login-form .forgot-password {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    text-decoration: none;
    margin-bottom: 1rem;
    color: #2f2d62;
}

.login-form .forgot-password:hover {
    color: #605a9d;
}

.login-form .dont-have-account a,
.login-form .dont-have-account span {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    text-decoration: none;
}

.login-form .dont-have-account a {
    color: #2f2d62;
}

.login-form .dont-have-account a:hover {
    color: #3a3682;
}

.login-form .dont-have-account {
    text-align: center;
}

.reset-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
    text-align: center;
}

.required {
    font-weight: bold;
}
.required:after {
    color: #e32;
    content: " *";
    display: inline;
}
