.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 100%;
    margin: 1rem;
    min-height: 380px;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 1rem;
}

.product__description {
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-detail-img {
    width: 50%;
    height: 400px;
    object-fit: cover;
}

.product-detail-desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-detail-desc-p {
    width: 60%;
}
